body {
  background-image: radial-gradient(circle, #FFFFFF, #fff4f4);
  margin: 10px auto;
  max-width: 1100px;
  text-align: center;
  align-content: center;
}

/* heading text */
/* Centers images */
